# version 1

services:

  API:
    image: student-age:v1
    ports:
      - "5000:5000"
    volumes:
      - ./student_age.json:/data/student_age.json
    networks:
      - mynet

  website:
    image: php:apache
    depends_on:
      API:
        condition: service_healthy 
    ports:
      - "8080:80"
    volumes:
      - "./website:/var/www/html"
    networks:
      - mynet


volumes:
  website:

networks:
  mynet:
